.swipe-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.swipe-buttons .MuiIconButton-root {
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
}

.swipe-buttons-repeat {
  color: #f5b74b;
}

.swipe-buttons-left {
  color: #ec5e6f;
}

.swipe-buttons-right {
  color: #76e2b3;
}

.swipe-buttons-star {
  color: #62b4f9;
}

.swipe-buttons a {
  height: 24px;
}
