.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  height: 680px;
  border: 10px solid rgb(33, 33, 33);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 10px 10px 45px -14px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 40px;
}

.content {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100vw;
    height: 95vh;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }

  .content {
    height: 85vh;
  }
}
