.swipe-buttons {
  position: fixed;
  bottom: 5vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipe-buttons .MuiIconButton-root {
  background-color: #fff;
  padding: 15px !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.swipe-buttons-repeat {
  color: #f5b74b;
}

.swipe-buttons-left {
  color: #ec5e6f;
}

.swipe-buttons-star {
  color: #62b4f9;
}

.swipe-buttons-right {
  color: #76e2b3;
}

.swipe-buttons-lightning {
  color: #915dd1;
}
